section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#dennis-section1 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  column-width: 100vw;
  background-color: white;
  overflow: hidden;
}
#dennis-overskrift {
  position: relative;
  color: black;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 180px;
  letter-spacing: 0.3em;
  font-stretch: expanded;
  top: -60vh;
}

@media (max-width: 768px) {
  #dennis-overskrift {
    font-size: 48px;
    top: -10vh;
    letter-spacing: 0.1em;
  }
}

#dennis-skulptur {
  position: absolute;
  width: 37%;
  height: auto;
  top: 20vh;
  z-index: 1;
}

.dennis-section-container {
  margin: 10%;
  padding-top: 12vh;
  height: 84%;
  width: 80%;
  display: flex;
  gap: 5%;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

@media (max-width: 768px) {
  /* prevent annoying scroll block on mobile, let user be able to actually click on the icons we created. */
  section {
    scroll-snap-align: unset !important;
    scroll-snap-stop: unset !important;
  }
}

#dennis-section2-overskrift {
  flex: 1;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin: 0;
  color: black;
}

#dennis-section2-innhold {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

#dennis-section2-bilde-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

#dennis-section2-bilde {
  width: 100%;
  background-color: #b4b9b3;
}

@media (max-width: 768px) {
  #dennis-section2-bilde-container {
    display: none !important;
  }
}

#dennis-section2-om-meg {
  flex-direction: 1;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  height: 100%;
  width: 100%;
}

#dennis-section2-om-meg-overskrift {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  margin-bottom: 1vh;
}

#dennis-section2-om-meg-p {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
  text-align: justify;
}

#dennis-section3 {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
}

#linkedin_svg {
  height: 15vh;
  width: 10vh;
}

#github_svg {
  height: 15vh;
  width: 7.5vh;
}

#section3-project {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
}

#section3-innhold {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 90vh;
  margin-left: 10vw;
  margin-bottom: 10%;
}

#section3-overskrift {
  flex: 1;
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 100%;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 55px;
  margin: 0;
  letter-spacing: 0.1em;
}

#section3-overskrift h1 {
  margin: 0;
  padding: 0;
  margin-top: 10vh;
  margin-left: 25vh;
}

#section3-mine-proskjekter {
  flex: 3;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  height: 100%;
  width: 100%;
}

.section3-prosjekt-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 20%;
  height: 10%;
  gap: 0px;
}
