section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#fredrik-section1 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  column-width: 100vw;
  background-color: white;
  background-image: url('../image/Fredrik/f40f21af-81c0-4a88-be17-3bb4ecf79eac\ \(1\).jpg');
  background-size: cover;
  overflow: hidden;
}
#fredrik-overskrift {
  position: relative;
  color: rgb(213, 213, 213);
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 180px;
  letter-spacing: 0.3em;
  font-stretch: expanded;
  top: 30vh;
}

@media (max-width: 768px) {
  #fredrik-overskrift {
    font-size: 48px;
    top: -10vh;
    letter-spacing: 0.1em;
  }
}

#fredrik-skulptur {
  position: absolute;
  width: 37%;
  height: auto;
  top: 20vh;
  z-index: 1;
}

.fredrik-section-container {
  margin: 10%;
  padding-top: 12vh;
  height: 84%;
  width: 80%;
  display: flex;
  gap: 5%;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

#fredrik-section2-overskrift {
  flex: 1;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin: 0;
  color: black;
}

#fredrik-section2-innhold {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

#fredrik-section2-bilde-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

@media (max-width: 768px) {
  /* prevent annoying scroll block on mobile, let user be able to actually click on the icons we created. */
  section {
    scroll-snap-align: unset !important;
    scroll-snap-stop: unset !important;
  }
}

#fredrik-section2-bilde {
  width: 100%;
  background-color: #b4b9b3;
}

@media (max-width: 768px) {
  #fredrik-section2-bilde-container {
    display: none;
  }
}

#fredrik-section2-om-meg {
  flex-direction: 1;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  height: 100%;
  width: 100%;
}

#fredrik-section2-om-meg-overskrift {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  margin-bottom: 1vh;
}

#fredrik-section2-om-meg-p {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  color: rgb(81, 81, 81);
  line-height: 1.5;
  text-align: justify;
}

#fredrik-section3 {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
}

#fredrik-section3-innhold{
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
  margin-left: 10vw;
}

#fredrik-section3-overskrift{
  flex: 1;
  display: flex;
  align-items: end;
  justify-content: start;
  width: 100%;
  height: 100%;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  margin: 0;
  letter-spacing: 0.1em;
}

#fredrik-section3-overskrift h1 {
  margin: 0;
  padding: 0;
}


#fredrik-section3-mine-proskjekter{
  flex: 2;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  height: 100%;
  width: 100%;
}

.prosjekt-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
}

.prosjekt-box{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: white;
  height: 100%;
  border-radius: 20px;
}

.prosjekt-bilde{
  margin: 6px;
  flex: 2;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.prosjekt-bilde img{
  width: 100%;
  height: auto;
}

.prosjekt-beskrivelse{
  flex: 1;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  border-radius: 20px;

}

#fredrik-section3-se-også{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

