html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#section1 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  column-width: 100vw;
  background-color: white;
  overflow-y: hidden;
  background-image: url('../image/gruppe_bilde.jpg');  
  background-position: center;
  background-size: cover;
}


.blur {
  height: 2vh;
  width: 100vw;
  backdrop-filter: blur(1px);
}

.nav-bar-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin: 0 auto;
  z-index: 5;
}

.nav-bar {
  flex: 1;
  display: flex;
  width: 32vw;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 100px;
  background-color: black;
  overflow: hidden;
}

.nav-item {
  flex: 1;
  text-align: center;
  background-color: black;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-family: "Segoe UI";
  border-radius: 100px;
  cursor: pointer;
}

.nav-item.active {
  background-color: #e5c70663;
  color: #e5c806;
}

.nav-item:hover {
  color: #e5c806;
}

.radial-circle {
  position: relative;
  width: 100%;
  height: 90%;
  background: radial-gradient(
    ellipse farthest-side at center top,
    #e5c806 0%,
    white 100%
  );
}

.stor-tekst {
  position: absolute;
  color: black;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 150px;
  top: 55vh;
  left: 2vw;
}
.stor-overskrift {
  margin-top: -45vh;
  font-size: 110%;
  margin-bottom: 40vh;
  color: black;
  background-color: white;
}

#section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100vh;
  column-width: 100vw;
  background-color: #f6f7f9;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  #section2 {
    height: auto;
  }
}

.overskrifter {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  height: 100%;
  width: 100%;
  color: black;
  font-family: "Work Sans", sans-serif;
  margin: 4%;
  margin-bottom: 0%;
  overflow: hidden;
}

.overskrifter h1 {
  font-weight: 700;
  font-size: 75px;
  margin: 0;
}

.ord {
  position: absolute;
  top: 2vh;
  left: 0;
  opacity: 0;
  transform: translateX(-100%); 
  transition: transform 1.0s ease, opacity 1.0s ease;
  width: 100%;
}

.ord.show {
  opacity: 1;
  transform: translateX(0);
}

.ord.hide {
  opacity: 0;
  transform: translateX(-100%);
}

.om-gruppa-del {
  margin: 2%;
  margin-top: 0%;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: rgb(37, 37, 37);
  line-height: 1.5;
  border-radius: 20px;
  font-family: "Work Sans", sans-serif;
  flex: 3;
  height: 100%;
  width: 96%;
  display: flex;
  flex-direction: row;
}

.venstre {
  flex: 1;
  margin: 2%;
  padding-right: 2%;
  height: 90%;
  width: 100%;
  border-right: solid 1px grey;
}

.hoyre {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 2%;
  height: 90%;
  width: 100%;
}

#section3 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  column-width: 100vw;
  background-color: #f6f7f9;
}

#phone_symbol {
  width: 30px;
  height: 25px;
}

.gruppemedlemmer-flex1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 5vh;
}

.gruppemedlemmer-flex2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
  gap: 2vw;
}
.gruppemedlemmer {
  max-width: 30vw;
  min-width: 27vw;
  width: 30vw;
  min-height: 35vh;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 15px;
  transition: transform 1s ease, clip-path 1s ease;
}

.gruppemedlemmer p {
  color: black;
}

.gruppemedlemmer-bilde {
  max-width: 10vw;
  height: auto;
  position: relative;
  clip-path: circle();
}

.gruppemedlemmer:hover {
  transform: scale(1.1);
  z-index: 10;
}

.gruppemedlemmer-text-om-hver-person {
  margin-left: 1vh;
  margin-right: 1vh;
  margin-bottom: 4px;
  margin-top: 0;
  color: black;
}

.section3-innhold {
  margin-top: 10vh;
  height: 90vh;
}

#titleName_Id {
  font-weight: bold;
}

.medlemmer-link {
  text-decoration: none;
  color: black;
}


#section4 {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
}

#section4-innhold{
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 90vh;
  margin-left: 10vw;
  margin-bottom: 10%;
}

#section4-overskrift{
  flex: 1;
  display: flex;
  align-items: end;
  justify-content: start;
  width: 100%;
  height: 100%;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 55px;
  margin: 0;
  letter-spacing: 0.1em;
}

#section4-overskrift h1 {
  margin: 0;
  padding: 0;
}


#section4-mine-proskjekter{
  flex: 3;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  height: 100%;
  width: 100%;
}

.prosjekt-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 20px;
}



.prosjekt-rad{
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.prosjekt-box{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: white;
  height: 100%;
  border-radius: 20px;
  transition: transform 1s ease, clip-path 1s ease;
}

.prosjekt-box:hover {
  transform: scale(1.05);
  z-index: 10;
}

.prosjekt-bilde{
  margin: 6px;
  flex: 2;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.prosjekt-bilde img{
  width: 100%;
  height: auto;
}

.prosjekt-beskrivelse{
  flex: 1;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  border-radius: 20px;

}


@media (max-width: 1000px) {
  .stor-overskrift {
    font-size: 60%;
  }
  .stor-tekst {
    padding-top: 20vh;
  }
  .nav-bar {
    min-width: 500px;
  }
}

@media (max-width: 500px) {
  .stor-overskrift {
    font-size: 40%;
  }
  .stor-tekst {
    padding-top: 0;
  }
  .overskrifter {
    margin-top: 35vh;
  }
  .om-gruppen-overskrift {
    margin-bottom: 1rem;
  }
  .nav-bar {
    min-width: 300px;
  }
}

.Index-video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  align-self: center;
}

.section3-linkedin {
  max-width: 2vw;
  height: auto;
}


.main_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: auto;
  min-height: 100vh;
}

h3 {
  color: #3e7344;
  padding-top: 5vh;
}

.child_contact {
  padding: 40px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-align: left;
}

#gmail_icon {
  height: 20px;
  weight: 20px;
  margin-right: 10px;
}

#phone_icon {
  height: 20px;
  weight: 20px;
  margin-right: 10px;
}
