.html{
    background-color: #FDFD96;
}

body{
    background-color: #FDFD96;
}
.hjemknapp{
    text-decoration: none;
}
.nav-item:hover{
    background-color: #e5c806;
    opacity: 0.8;
   
}
.nav-bar{
    background-color: black;
}


.person-innhold-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    width: 100vw;
}

.medlemmer-flexitem{
    height: 80vh;
}

.medlemmer-flexitem2{
    background-color: ghostwhite;
    width: 100vw;
    
}

.medlemmer-flexitem1{
    background-color: #FDFD96;
    width: 100vw;

}
.ditt-navn{
    margin-top: 50vh;
    text-align: center;
    font-size: 15vw;
    }


.medlemmer-side-bilde{
    width: 80%; 
    height: auto;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 10px;
}

.medlemmer-om-meg{
    display: flex;
    flex-direction: row;
    width: 100vw;
    
}
.medlemmer-om-meg-bilde{
    width: 50%;
}

.medlemmer-ferdigheter-overall{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.medlemmer-ferdigheter-overskrift{
    padding-left:20px
    
}

.medlemmer-ferdigheter{
    padding-right: 40px;
    list-style: none;
    
}
.medlemmer-ferdigheter li::before{
    content:"💪";
    font-size: 2vw;
}
.medlemmer-ferdigheter li{
    padding: 5px;
}

.Linker{
    Width: 10vw;
    height: auto;
    padding: 15px;
    
}

.link-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.om-meg p{
    word-wrap: break-word;
    white-space: normal;
    max-width: 80%;
}
.medlemmer-flexitem1 h1{
    text-align: center;
}

